@import "tailwindcss";

@theme {
  --shadow-button: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
  --default-font-family: "Inter", sans-serif;
  --input-gradient: linear-gradient(90deg, #1A1919 0%, #0F0F0F 100%);
}